APP_DIR="."
# APP_HANDLER="./src/handler/file-share.sh"
APP_HANDLER="./src/handler/static.sh"

HTTP_HOST="localhost"
HTTP_PORT="8080"

LOG_NAME="snail"
LOG_LEVEL="DEBUG"
LOG_FMT="str"
LOG_FILE="/dev/null"
LOG_COLOR="true"

WATCH_CLEAR="true"


STATIC_ROOT="./data/static"
STATIC_404="${STATIC_ROOT}/404.html"

SHARE_ROOT="./data/file-share"
