ROOT_DIR="."

HTTP_HOST="localhost"
HTTP_PORT="8080"

SERVE_ROOT="./page"
SERVE_404="./page/404.html"

LOG_NAME="snail"
LOG_LEVEL="DEBUG"
LOG_FMT="str"
LOG_FILE="/dev/null"
LOG_COLOR="true"

WATCH_CLEAR="true"
