APP_DIR="."
# APP_HANDLER="./src/static.sh"
APP_HANDLER="./src/file-share.sh"

HTTP_HOST="localhost"
HTTP_PORT="8080"

LOG_NAME="snail"
LOG_LEVEL="DEBUG"
LOG_FMT="str"
LOG_FILE="/dev/null"
LOG_COLOR="true"

WATCH_CLEAR="true"


STATIC_ROOT="./page"
STATIC_404="./page/404.html"

SHARE_ROOT="./files"
